@page
@model GraduationApplication.Pages.AcademicPrograms.CreateModel

@{
    ViewData["Title"] = "Create Academic Program";
}

<h2>Create Academic Program</h2>

@if (!string.IsNullOrEmpty(Model.SuccessMessage))

{
    <div class="alert alert-success">@Model.SuccessMessage</div>
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form method="post">
    <div class="form-row mb-3">
        <div class="form-group col-md-6">
            <label asp-for="AcademicProgram.ProgramTitle" class="control-label">Program Title</label>
            <input asp-for="AcademicProgram.ProgramTitle" class="form-control" />
            <span asp-validation-for="AcademicProgram.ProgramTitle" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row mt-3">
        <div class="form-group col-md-6">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
    <div class="form-row mt-3">
        <div class="form-group col-md-6">
            <a asp-page="/AcademicPrograms/AcademicProgIndex" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</form>
