@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-left text-wrap">
    <h1>Welcome to Graduation Application</h1>
    <p>This is the home page of the Graduation Application.</p>
    <p>Use the navigation bar to access the different features of the application.</p>
    <p>Click on the links to view, create, edit, and delete academic programs and graduation applications.</p>
    <img src="~/images/CBC-Logo.png" alt="College" style="width: 50%; height: 60%;" />
</div>
